
html {
  background-color: white;
}

p {
  font-size: 1.7rem;
}


/*title banner*/
header a:hover {
  text-decoration: none;
  color: #3F51B5;
}

header {
  width: 100%;
  margin: 0;
  padding: 0;
  background: url(../img/yellow.png);
  min-height:20vh;
}

@media screen and (max-width: 600px) {
  .header {
    min-height: 100vh;
    max-height: 100vh;
  }
}

@media screen and (max-width: 600px) {
  .mobile {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 10vh;
    color: #3F51B5;
  }
}

.mobile h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

.header h1{
  text-decoration: none;
  font-family: 'Calistoga', cursive;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #3F51B5;
  margin: 0px;
  font-size: 80px;
}

h1, a {
  text-decoration: none;
  color: #3F51B5;

}

.header img {
  height: 25px;
  margin: 10px 10px;
}

#facebook-icon {
  padding-left: 10px;
  margin: 10px 10px;
}


/*side navigation menu*/
.sidenav {
  right: 0;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  background-color: #3F51B5;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: #f9e07d;
  display: block;
  transition: 0.3s;
  font-family: 'Montserrat', sans-serif;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 0px;
  font-size: 36px;
  margin-right: 50px;
}

.menu {
  position: absolute;
  right: 0;
  color: #3F51B5;
  top-container.bottom: 20px;
}

.sidenav input[type=text] {
  font-family: 'Montserrat', sans-serif;
  border-radius: 30px;
  border: 4px solid #f9e07d;
  margin-top: 8px;
  margin-left: 30px;
  font-size: 17px;
  width: 75%
}


/*main about section*/
.about {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20vh;
}

/*main about section*/
.about h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 20px;
  font-size: 2.2em;
}

.about img {
  display: flex;
  padding: 2em;
  margin: 0 auto;
  border-radius: 9em;
  width: 18em;
}


/*footer*/
footer {
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  background: url(../img/yellow.png);
  color:#3F51B5;
  text-align: center;
  width: 100%;
  font-size: 1.2rem;
  padding-bottom: 3rem;
}

.footer-container {
  padding-top: 3rem;
}

footer form {
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px;
}

input[type=text] {
  font-family: 'Montserrat', sans-serif;
  border-radius: 30px;
  padding: 5px;
  border: 4px solid #ffeeaa;
}

input[type=submit] {
  font-family: 'Montserrat', sans-serif;
  background-color: #ff7999;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 5px;
  cursor: pointer;
}

input[type=submit]:hover {
  opacity: 0.8;
}

.footer-container .icon {
  height: 25px;
  margin: 10px 10px;
}
